@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* global */

*{
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* header */

header{
    background-color: #007bff;
}

#container-header{
    width: 75%;
    margin: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-header ul{
    display: flex;
    flex-direction: row;
}

#container-header ul li{
    margin-right: 25px;
}

#container-header ul li a {
    font-size: 1em;
}

.fas.fa-plus, .fas.fa-search{
    font-size: 0.8em;
    color: white;
}

.fas.fa-wallet{
    font-size: 1.9em;
    color: white;
}

ul li a{
    color: rgba(255, 255, 255, 0.500);
}

ul li a:hover{
    color: white;
}

.current{
    color: white;
}



/* main area */

#main-area{
    width: 75%;
    max-width: 75%;
    margin: 0px auto 30px auto;
}

#title{
    margin-top: 50px;
    margin-bottom: 50px;
}

#title h1{
    font-weight: 300;
}


/* selects */

#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.year select, .month select{
    width: 250px;
    padding: 7px;
    color: #495057;
    border-radius: 5px;
    margin-right: 5px;
}

.day input{
    width: 150px;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    margin-right: 5px;
}

.activity select{
    width: 250px;
    padding: 7px;
    color: #495057;
    border-radius: 5px;
}

#bot{
    display: flex;
    justify-content: space-between;
}

.description input{
    width: 470px;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}

.price input{
    width: 250px;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}

.button button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    width: 40px;
    height: 40px;
}

.button button:hover{
    transition: 0.2s;
    background-color: #056fe0;
}


/* check finances  */

#finances{
    width: 75%;
    max-width: 75%;
    margin: auto;
}

table{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 20px;
}

tr{
    text-align: left;
}

td{
    padding-top: 10px;
    text-align: left;
}


/*  media query for the index */
@media (max-width: 1050px){
    #container-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #title h1{
        text-align: left;
    }

    .year select, .month select{
        width: 180px;
        padding: 12px;
        margin-right: 5px;
    }

    .day input{
        width: 130px;
        padding: 13px;
        margin-right: 5px;
    }
    
    .activity select{
        width: 250px;
        padding: 12px;
    }

    .description input, .price input{
        width: 300px;
        padding: 12px;
    }
}

@media (max-width: 900px){

    #main-area{
        width: 100%;
        max-width: 100%;
    }

    #container-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #title h1{
        text-align: center;
    }

    #title::after{
        content: '';
        width: 100px;
        height: 1px;
        background-color: #007bff;
        display: block;
        margin: auto;
    }

    #top, #bot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .year select, .month select{
        width: 300px;
        padding: 17px;
    }

    .day input{
        width: 300px;
        padding: 17px;
    }
    
    .activity select{
        width: 300px;
        padding: 17px;
    }

    .description input, .price input{
        margin-bottom: 3px;
        width: 300px;
        padding: 19px;
    }

    .button{
        margin-top: 3px;
    }

    #finances{
        width: 90%;
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 495px){
    #container-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #title h1{
        font-size: 1.5em;
    }

    .year select, .month select{
        width: 250px;
        padding: 12px;
    }

    .day input{
        width: 250px;
        padding: 12px;
    }
    
    .activity select{
        width: 250px;
        padding: 12px;
    }

    .description input, .price input{
        margin-bottom: 3px;
        width: 250px;
        padding: 12px;
    }

    .button{
        margin-top: 10px;
    }
}

@media (max-width: 300px) {
    #container-header{
        background-color: #007bff;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #icon, #container-header ul li{
        font-size: 0.8em;
        margin-right: 10px;
    }

    #title{
        font-size: 0.8em;
    }

    .year select, .month select{
        width: 200px;
        padding: 6px;
    }

    .day input{
        width: 200px;
        padding: 6px;
    }

    .activity select{
        width: 200px;
        padding: 6px;
        margin-bottom: 20px;
    }

    .description input, .price input{
        margin: 0px 0px 3px 0px;
        width: 200px;
        padding: 6px;
    }
}