@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* global */

*{
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

input, select{
    box-sizing: border-box;
}

/* header */

header{
    background-color: #007bff;
}

#container-header{
    width: 75%;
    margin: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-header ul{
    display: flex;
    flex-direction: row;
}

#container-header ul li{
    margin-right: 25px;
}

#container-header ul li a {
    font-size: 1em;
}

.fa-money-check-alt{
    font-size: 1.9em;
    color: white;
}

.fa-plus, .fas.fa-search{
    font-size: 0.8em;
    color: white;
}

ul li a{
    color: rgba(255, 255, 255, 0.500);
}

ul li a:hover{
    color: white;
}

.current{
    color: white;
}


/* main area */

#main-area, #main-area-check{
    width: 75%;
    max-width: 75%;
    margin: 0px auto 30px auto;
}

#title{
    margin-top: 50px;
    margin-bottom: 50px;
}

#title h1{
    font-weight: 300;
}

/* Selects */
/* Top */

#top{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.year, .month, .activity{
    width: 25%;
    max-width: 100%;
}

.year select, .month select, .activity select, .day input{
    width: 100%;
    padding: 7px;
    color: #495057;
    border-radius: 5px;
}

.day{
    width: 15%;
}

.day input{
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
}

/* bottom */
#bot{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.description {
    width: 50%;
}

.description input{
    width: 100%;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    box-sizing: content-box;
}

.price{
    width: 30%;
}

.price input{
    width: 100%;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    box-sizing: content-box;
}

/* buttons */

#buttonIndex button, #buttonCheck button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    width: 40px;
    height: 40px;
}

#buttonIndex button:hover, #buttonCheck button{
    transition: 0.2s;
    background-color: #056fe0;
}


/* check finances  */

#finances{
    width: 75%;
    max-width: 75%;
    margin: auto;
}

table{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 20px;
}

tr{
    text-align: left;
}

td{
    padding-top: 10px;
    text-align: left;
}

/* show output */

#output{
    width: 75%;
    margin: -10px auto;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
}

.show{
    display: inline;
    font-size: 1.2em;
}

.hide{
    display: none;
    font-size: 1.2em;
}

/*  media query for the index */
@media (max-width: 1050px){
    .year, .month, .activity{
        width: 25%;
        max-width: 100%;
    }
    
    .year select, .month select, .activity select, .day input{
        padding: 10px;
    }
    
    .day input{
        padding: 10px;
    }

    .description input{
        padding: 10px;
    }
    
    .price input{
        padding: 10px;
    }
}

@media (max-width: 900px){

    #main-area, #main-area-check{
        width: 100%;
        max-width: 100%;
    }

    #container-header{
        justify-content: center;
    }

    #title h1{
        text-align: center;
    }

    #title::after{
        content: '';
        width: 100px;
        height: 1px;
        background-color: #007bff;
        display: block;
        margin: auto;
    }

    #top, #bot{
        flex-direction: column;
        align-items: center;
    }

    .year, .month, .activity, .day, .description, .price{
        width: 280px;
        max-width: 45%;
    }

    .year select, .month select, .activity select, .day input{
        padding: 15px;
    }
    
    .description input{
        padding: 15px;
        box-sizing: border-box;
    }
    
    .price input{
        padding: 15px;
        box-sizing: border-box;
    }

    #buttonIndex{
        margin-top: 10px;
    }

    #finances{
        width: 90%;
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 495px){ /* 495 px*/
    #container-header{
        width: 100%;
        justify-content: space-around;
    }

    #icon{
        margin-left: 3px;
    }

    #title h1{
        font-size: 1.7em;
    }

    .year, .month, .activity, .day, .description, .price{
        width: 260px;
        max-width: 270px;
    }

    .year select, .month select, .activity select, .day input{
        padding: 18px;
    }
    
    .description input{
        padding: 18px;
        box-sizing: border-box;
    }
    
    .price input{
        padding: 18px;
        box-sizing: border-box;
    }

    #buttonIndex{
        margin-top: 5px;
    }
}

@media (max-width: 325px){
    #container-header ul li a {
        font-size: 0.9em;
    }

    #title h1{
        font-size: 1.3em;
    }

    .year, .month, .activity, .day, .description, .price{
        max-width: 220px;
    }

    .year select, 
    .month select, 
    .activity select, 
    .day input, 
    .price input,
    .description input{
        width: 220px;
        padding: 18px;
    }
    
    .price input{
        width: 220px;
    }
}

@media (max-width: 380px){
    /* table needs to be responsive */
}